@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory & Transaction Management</h1>

    <ol>
        <li>
            <a style="text-decoration: none; color: #007BFF; font-size: 18px;" href="@Url.Action("Items", "Item")">Go to Items Page</a>
        </li>

        <li>
            <a style="text-decoration: none; color: #007BFF; font-size: 18px;" href="@Url.Action("Index", "Transaction")">Go to Transactions Page</a>
        </li>
    </ol>
</div>
